### Imports
---

In [19]:
import pandas as pd
import numpy as np
from functools import reduce

### Load the data
---

In [2]:
df = (
    pd.read_csv("interactive_data.csv", header=0)
    .drop(columns="Unnamed: 0")
)

### Exploratory data analysis
---

In [3]:
df.shape

(540, 7)

In [4]:
df.head(5)

,Intent,Gender,Age,Race,Deaths,Population,Rate
0,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,None selected,None selected,None selected,White,22079,197369634,11.2
2,None selected,None selected,None selected,Black,7765,38896382,20.0
3,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [26]:
(
    df["Age"]
    .unique()
    .tolist()
)

['None selected', 'Under 15', '15 - 34', '35 - 64', '65+', '5']

### Preprocessing / Cleaning
---

No need as the dataset was already cleaned.

### Answering questions
---

#### Nearly two-thirds of gun deaths are suicides

In [21]:
# All deaths
all_deaths = [
    df["Intent"] == 'None selected',
    df["Gender"] == 'None selected',
    df["Age"] == 'None selected',
    df["Race"] == 'None selected',
]

all_deaths_v = df[reduce(np.logical_and, all_deaths)]["Deaths"].values[0]

# Suicides
suicides = [
    df["Intent"] == 'Suicide',
    df["Gender"] == 'None selected',
    df["Age"] == 'None selected',
    df["Race"] == 'None selected',
]
suicides_v = df[reduce(np.logical_and, suicides)]["Deaths"].values[0]

# Result
"{result:.2f} %".format(result=100*(suicides_v / all_deaths_v))

'62.67 %'

#### More than 85 percent of suicide victims are male

In [22]:
# Suicides
male_suicides = [
    df["Intent"] == 'Suicide',
    df["Gender"] == 'Male',
    df["Age"] == 'None selected',
    df["Race"] == 'None selected',
]
male_suicides_v = df[reduce(np.logical_and, male_suicides)]["Deaths"].values[0]

# Result
"{result:.2f} %".format(result=100*(male_suicides_v / suicides_v))

'86.25 %'

#### Around a third of all gun deaths are homicides

In [25]:
# Homicides
homicides = [
    df["Intent"] == 'Homicide',
    df["Gender"] == 'None selected',
    df["Age"] == 'None selected',
    df["Race"] == 'None selected',
]
homicides_v = df[reduce(np.logical_and, homicides)]["Deaths"].values[0]

# Result
"{result:.2f} %".format(result=100*(homicides_v / all_deaths_v))

'34.90 %'

#### Around two-thirds of homicide victims who are males in the age-group of 15--34 are black

In [28]:
homicides_male_1534 = [
    df["Intent"] == 'Homicide',
    df["Gender"] == 'Male',
    df["Age"] == '15 - 34',
    df["Race"] == 'None selected',
]
homicides_male_1534_v = df[reduce(np.logical_and, homicides_male_1534)]["Deaths"].values[0]

homicides_male_1534_black = [
    df["Intent"] == 'Homicide',
    df["Gender"] == 'Male',
    df["Age"] == '15 - 34',
    df["Race"] == 'Black',
]
homicides_male_1534_black_v = df[reduce(np.logical_and, homicides_male_1534_black)]["Deaths"].values[0]

# Result
"{result:.2f} %".format(result=100*(homicides_male_1534_black_v / homicides_male_1534_v))

'66.13 %'

#### Women constitue only 15 percent of the total homicide victims

In [29]:
female_homicide = [
    df["Intent"] == 'Homicide',
    df["Gender"] == 'Female',
    df["Age"] == 'None selected',
    df["Race"] == 'None selected',
]
female_homicides_v = df[reduce(np.logical_and, female_homicide)]["Deaths"].values[0]

# Result
"{result:.2f} %".format(result=100*(female_homicides_v / homicides_v))

'15.27 %'

---